<div class="setting-wrapper grid-area-var" style="--grid-area: setting">
  <ng-container *ngIf="narrowScreen$ | async; else wideScreenSetting">
    <div class="basic-border pointer-events-auto">
      <div *ngIf="showNarrowScreenTools$ | async" class="narrow-tools-wrapper">
        <button
          mat-stroked-button
          matTooltip="Clear canvas"
          class="w-full"
          (click)="clear()"
        >
          <mat-icon>delete_forever</mat-icon>
          Reset the canvas
        </button>

        <button mat-button matTooltip="Theme Mode" (click)="toggleTheme()">
          <mat-icon>brightness_4</mat-icon>
        </button>
      </div>
      <div
        *ngIf="showNarrowPalette$ | async"
        class="narrow-tools-wrapper flex justify-center"
      >
        <app-brush-palette></app-brush-palette>
      </div>
      <div class="same-ratio-grid">
        <div>
          <button
            mat-button
            matTooltip="Toggle tool panel"
            (click)="toggleNarrowScreenTools()"
          >
            <mat-icon>home_repair_service</mat-icon>
          </button>
          <button
            mat-button
            matTooltip="Toggle palette"
            (click)="toggleNarrowPalette()"
          >
            <mat-icon>palette</mat-icon>
          </button>
        </div>
        <div class="justify-self-center">
          <button mat-button matTooltip="Undo" [disabled]="notImplemented">
            <mat-icon>undo</mat-icon>
          </button>
          <button mat-button matTooltip="Redo" [disabled]="notImplemented">
            <mat-icon>redo</mat-icon>
          </button>
        </div>
        <div class="justify-self-end">
          <button
            mat-button
            matTooltip="Delete Selection"
            class="no-padding-icon-button"
            [disabled]="noSelected$ | async"
            (click)="delete()"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #wideScreenSetting>
    <div class="basic-border pointer-events-auto">
      <div class="flex">
        <button
          mat-button
          matTooltip="Load"
          [disabled]="notImplemented"
          (click)="export()"
        >
          <mat-icon>folder_open</mat-icon>
        </button>
        <button
          mat-button
          matTooltip="Save"
          [disabled]="notImplemented"
          (click)="export()"
        >
          <mat-icon>save</mat-icon>
        </button>
        <button
          mat-button
          matTooltip="Export"
          [disabled]="notImplemented"
          (click)="export()"
        >
          <mat-icon>save_alt</mat-icon>
        </button>
        <button
          mat-button
          matTooltip="Store at browser"
          [disabled]="notImplemented"
        >
          <mat-icon>archive</mat-icon>
        </button>
        <button
          mat-button
          matTooltip="Browser storage"
          [disabled]="notImplemented"
        >
          <mat-icon>storage</mat-icon>
        </button>
      </div>
      <div class="flex">
        <button mat-button matTooltip="Clear canvas" (click)="clear()">
          <mat-icon>delete_forever</mat-icon>
        </button>
        <button mat-button matTooltip="Theme Mode" (click)="toggleTheme()">
          <mat-icon>brightness_4</mat-icon>
        </button>
        <button mat-button matTooltip="Palette" [disabled]="notImplemented">
          <mat-icon>palette</mat-icon>
        </button>
      </div>
      <div class="flex background-color-picker-wrapper">
        <app-color-picker
          matTooltip="Canvas background color"
          [colors]="canvasColors"
          [color]="canvasColor$ | async"
          (colorSelect)="changeCanvasColor($event)"
        ></app-color-picker>
      </div>
    </div>
    <div class="basic-border pointer-events-auto brush-wrapper">
      <app-brush-palette></app-brush-palette>
      <div class="mt-2">
        <button
          mat-button
          matTooltip="Delete Selection"
          class="no-padding-icon-button mt-2"
          [disabled]="noSelected$ | async"
          (click)="delete()"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </ng-template>
</div>
<div class="mode-wrapper grid-area-var" style="--grid-area: mode">
  <mat-button-toggle-group
    name="mode"
    aria-label="Mode"
    class="pointer-events-auto"
    [value]="mode$ | async"
    (change)="changeMode($event.value)"
  >
    <mat-button-toggle value="selection" matTooltip="Selection">
      <mat-icon>highlight_alt</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="freeDraw" matTooltip="Draw">
      <mat-icon>edit</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="square" matTooltip="Square">
      <mat-icon>crop_square</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="diamond" matTooltip="Diamond">
      <mat-icon svgIcon="diamond"></mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="ellipse" matTooltip="Ellipse">
      <mat-icon>radio_button_unchecked</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="line" matTooltip="Line">
      <mat-icon>horizontal_rule</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="text" matTooltip="Text">
      <mat-icon>text_fields</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <span class="inline-block mx-1 border border-slate-300 relative rounded-full">
    <button
      mat-icon-button
      aria-label="Move mode"
      class="pointer-events-auto"
      (click)="changeMode('move')"
    >
      <mat-icon>control_camera</mat-icon>
    </button>
    <div
      class="absolute inset-0 bg-black opacity-0 rounded-full"
      [class.opacity-10]="isMoveMode$ | async"
    ></div>
  </span>
</div>
<div class="grid-area-var" style="--grid-area: hint"></div>
