<canvas
  #canvas
  appHookFabric
  [parentElement]="hostEl"
  (fabricCanvasReady)="fabricCanvasReady($event)"
></canvas>

<div class="tools-wrapper absolute w-full pointer-events-none">
  <app-fabric-toolbox [fabricCanvas]="fabricCanvas"></app-fabric-toolbox>
</div>

<div class="app-tools-wrapper absolute grid">
  <button
    *ngIf="showInstallPromotion$ | async"
    mat-icon-button
    matTooltip="Install Easy-Draw"
    matTooltipPosition="before"
    [class.narrow-screen-button]="narrowScreen$ | async"
    (click)="installPromotion()"
  >
    <mat-icon [class.narrow-screen-icon]="narrowScreen$ | async">
      browser_updated
    </mat-icon>
  </button>

  <button
    *ngIf="swUpdateAvailable$ | async"
    mat-icon-button
    matTooltip="Reload to get the newest feature."
    matTooltipPosition="before"
    [class.narrow-screen-button]="narrowScreen$ | async"
    (click)="reloadPage()"
  >
    <mat-icon [class.narrow-screen-icon]="narrowScreen$ | async">
      tips_and_updates
    </mat-icon>
  </button>

  <a
    mat-icon-button
    routerLink="/"
    matTooltip="Dashboard"
    matTooltipPosition="before"
    [class.narrow-screen-button]="narrowScreen$ | async"
  >
    <mat-icon [class.narrow-screen-icon]="narrowScreen$ | async">
      alt_route
    </mat-icon>
  </a>
  <a
    target="_blank"
    referrerpolicy="no-referrer"
    href="https://github.com/wildMio/easy-draw"
    mat-icon-button
    matTooltip="Star at GitHub"
    matTooltipPosition="before"
    [class.narrow-screen-button]="narrowScreen$ | async"
  >
    <mat-icon [class.narrow-screen-icon]="narrowScreen$ | async">
      star_border
    </mat-icon>
  </a>
</div>
