.color-picker-button {
  border-radius: 4px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMUlEQVQ4T2NkYGAQYcAP3uCTZhw1gGGYhAGBZIA/nYDCgBDAm9BGDWAAJyRCgLaBCAAgXwixzAS0pgAAAABJRU5ErkJggg==")
    0;
  height: 1.875rem;
  width: 1.875rem;
  border: 1px solid #dee2e6;
  padding: 0;
  // filter: var(--theme-filter);
}

.color-picker-panel {
  display: grid;
  grid-template-columns: repeat(5, auto);
  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: 4px;
  background-color: white;
}

.input-wrapper {
  margin-left: 0.25rem;
  height: 30px;
  border-radius: 4px;
  &:focus-within {
    box-shadow: 0 0 0px 1px #a5d8ff;
  }
}

.tag-icon-wrapper {
  background: #dee2e6;
  color: #495057;
  border-radius: 4px 0 0 4px;
}

.color-input {
  box-sizing: border-box;
  width: 12ch;
  font-size: 1rem;
  color: #343a40;
  border: 1px solid #dee2e6;
  outline: none;
  padding-inline-start: 0.5em;
  appearance: none;
  border-radius: 0 4px 4px 0;
}
