<span>Stroke</span>
<app-color-picker
  [color]="color$ | async"
  (colorSelect)="changeColor($event)"
></app-color-picker>
<span>Stroke Width</span>
<div class="stoke-width-wrapper flex items-center">
  <mat-slider
    thumbLabel
    color="primary"
    min="1"
    max="20"
    aria-label="line width units"
    [value]="lineWidth$ | async"
    (change)="changeLineWidth($event)"
  ></mat-slider>

  <label class="input-wrapper flex items-center">
    <span
      matPrefix
      class="width-indicator-wrapper height-100 flex-center overflow-hidden"
    >
      <div
        class="width-indicator"
        [style.--lineWidth]="lineWidth$ | async"
        [style.border-color]="color$ | async"
        [style.background-color]="color$ | async"
      ></div>
    </span>
    <input
      #lineWidthInput
      type="text"
      class="line-width-input height-100"
      [value]="lineWidth$ | async"
      (input)="inputLineWidth(lineWidthInput.value)"
    />
  </label>
</div>
<span>Opacity</span>
<div class="stoke-width-wrapper flex items-center">
  <mat-slider
    thumbLabel
    color="primary"
    min="0"
    max="100"
    step="1"
    aria-label="line width units"
    [value]="displayOpacity$ | async"
    (change)="changeOpacity($event)"
  ></mat-slider>

  <label class="input-wrapper flex items-center">
    <span
      matPrefix
      class="opacity-indicator-wrapper height-100 overflow-hidden"
    >
      <div
        class="height-100 opacity-indicator"
        [style.opacity]="opacity$ | async"
        [style.background-color]="color$ | async"
      ></div>
    </span>
    <input
      #opacityInput
      type="text"
      min="0"
      max="100"
      class="line-width-input opacity-input height-100"
      [value]="displayOpacity$ | async"
      (input)="inputOpacity(opacityInput.value)"
    />
  </label>
</div>

<span>Stoke Style</span>
<div>
  <mat-button-toggle-group
    name="strokeStyle"
    aria-label="strokeStyle"
    [value]="strokeStyle$ | async"
    (change)="changeStrokeStyle($event)"
  >
    <mat-button-toggle value="line" matTooltip="Line">
      <div class="stoke-style-option">
        <div class="stoke-style-line"></div>
      </div>
    </mat-button-toggle>
    <mat-button-toggle value="thin-dash" matTooltip="Thin Dash">
      <div class="stoke-style-option">
        <div class="stoke-style-line"></div>
        <div class="stoke-style-line"></div>
      </div>
    </mat-button-toggle>
    <mat-button-toggle value="square-dash" matTooltip="Square Dash">
      <div class="stoke-style-option">
        <div class="stoke-style-line"></div>
        <div class="stoke-style-line"></div>
        <div class="stoke-style-line"></div>
      </div>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
