@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/material";
@import "./styles/layout";

html,
body {
  height: 100%;
}
body {
  overflow: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.dark-theme {
  filter: invert(100%) hue-rotate(180deg);
  background-color: black;
}
